@page "/adicionar-funcionario"

<h3>Adicionar Funcionario</h3>

<EditForm Model="funcionario" OnValidSubmit="AdicionaFuncionario">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col">
            <label for="nome">Nome</label>
            <InputText @bind-Value="funcionario.Nome" class="form-control" id="descricao" />
            <ValidationMessage For="() => funcionario.Nome" />
        </div>
        <div class="col">
            <label for="nome">Cargo</label>
            <select class="form-select" aria-label="Default select example">
                <option value="0" selected>Selecione...</option>
                @foreach (var item in cargos)
                {
                    <option value="@item.Id">@item.Descricao</option>
                }
            </select>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Salvar</button>
</EditForm>

@code {
    FuncionarioViewModel funcionario = new();
    List<CargoViewModel> cargos = new();

    protected override async Task OnInitializedAsync()
    {
        cargos = await _cargoService.Select();   
    }

    public async Task AdicionaFuncionario()
    {
        var response = await _funcionarioService.Insert(funcionario);

        if (response is not null)
        {
            _navigationManager.NavigateTo("/funcionarios");
        }
    }
}