@page "/funcionarios"
@inject IJSRuntime JSRuntime

<PageTitle>Cargos</PageTitle>
<h3>Funcionarios</h3>
<br />
<a href="/adicionar-funcionario" class="btn btn-info">Adicionar Funcionario</a>
<br />
<hr />

@code {

}
