@page "/cargos"
@inject IJSRuntime JSRuntime

<PageTitle>Cargos</PageTitle>
<h3>Cargos</h3>
<br />
<a href="/adicionar-cargo" class="btn btn-info">Adicionar Cargo</a>
<br />
<hr />
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @if (listViewModel != null && listViewModel.Count > 0)
        {
            foreach (var item in listViewModel)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Descricao</td>
                    <td>
                        <a href="/editar-cargo/@item.Id" class="btn btn-warning">Editar</a>
                        <button class="btn btn-danger" @onclick="async () => await DeleteCargo(item.Id)">Deletar</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    List<CargoViewModel> listViewModel = new();

    protected override async Task OnInitializedAsync()
    {
        listViewModel = await _cargoService.Select();
    }

    public async Task DeleteCargo(int id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Tem certeza que deseja deletar?");
        if (confirmed is false)
            return;

        await _cargoService.Delete(id);

        listViewModel = await _cargoService.Select();
    }
}